html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
box-sizing: border-box
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
html {
box-sizing:border-box
}
* {
box-sizing:inherit
}

/* END CSS RESET */

button {
    color: white;
    background-color: maroon;
    border: 3px solid rgb(29, 29, 29);
    font-size: 20px;
    text-decoration: none;
    text-shadow: -1px -1px 1px #616161;
    position: relative;
    padding: 15px 30px;
    box-shadow: 5px 5px 0 #666;
    -webkit-box-shadow: 5px 5px 0 #666;
    -moz-box-shadow: 5px 5px 0 #666;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    margin: 0 auto;
    font-family: 'VT323', monospace;
    font-size: 2.5em;
}

button:hover {
    background-color: rgb(92, 0, 0);
    box-shadow: 0px 0px 0 #666;
    -webkit-box-shadow: 0px 0px 0 #666;
    -moz-box-shadow: 0px 0px 0 #666;
}

button:disabled {
    display: none;
}

.main {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/landscape/grass1.png");
    background-size: 30px 30px;
    background-repeat: repeat;
}

#win-message {
    display: block;
    position: sticky;
    top: 0;
    width: 70vw;
    height: 100px;
    color: white;
    font-size: calc(2vh + 3vw);
    /* background-image: url('../assets/landscape/sand2.png'); */
    background-repeat: repeat;
    margin: 15px auto;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

#raceway {
    margin: 100px 50px 0 50px;
    height: 580px;
    width: 1050px;
    background-image: url("../assets/landscape/sand_dual.png");
    background-size: 40px 40px;
    background-color: lightgreen;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#raceway:before {
    position: relative;
    margin-top: 0px;
    display: block;
    content: ' ';
    background: url('../assets/landscape/fence1.png') repeat;
    background-size: 40px 40px;
    height: 40px;
    top:-10px;
    left:0px;
    z-index: 1;
}

#raceway:after {
    content: ' ';
    position: relative;
    bottom: 0;
    display: block;
    background: url('../assets/landscape/fence1.png') repeat;
    background-size: 40px 40px;
    height: 40px;
    top:5px;
    left:0px;
}

#raceway > div {
    border-top: 3px rgba(149, 32, 32, 0.109) solid;
}

#raceway > div:last-of-type {
    border-bottom: 3px rgba(149, 32, 32, 0.109)solid;
}

#finish-line {
    transform: 90deg;
    width: 5px;
    height: 100%;
    background-color: rgb(146, 0, 0);
    position: absolute;
    right: 40px;
}

.horse-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'VT323', monospace;
    font-weight: 500;
    font-size: 2em;
}

.horse {
    position: relative;
    width: 150px;
    left: 0px;
    z-index: 1;
}

.temp-name {
    display: inherit;
}

#reset-button {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
}

#start-button {
    position: fixed;
    bottom: 0;
    right: 0;
}